@page
@model ContactModel
@{
    ViewData["Title"] = "BMI Calculator Contact Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    TU Dublin<br />
    DevOps CA2, Year 4<br />
    <abbr title="Phone">P:</abbr>
    085 80 18150
</address>

<address>
    <strong>Support:</strong> <a href="mailto:x00077239@mytudublin.ie">x00077239@mytudublin.ie</a><br />
</address>
